@import url(../styles/header.css);

:root {
  --cor-de-fundo: #ebecee;
  --branco-padrao: #ffffff;
  --cor-do-botao: #eb9b00;
  --titulo-sections: #eb9b00;
  --fonte-padrao: "poppins";
  --tam-fonte-titulo: 18px;
  --tam-fonte-subtitulo: 16px;
  --tam-fonte-texto: 14px;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-padrao);
}
